.search-section {
    padding: 0 0 2rem 0;

    .search-form, .filter-form {
        padding: 0 1rem 0 1rem;
        display: flex;
        gap: .5rem;
        margin-top: .5rem;

        input, select {
            padding: .5rem;
            border: 2px solid var(--light-gray);
            border-radius: 3px;
        }

        button {
            height: auto;
            width: auto;
            padding: .75rem 2rem;
        }
    }

    .filter-form {
        flex-direction: column;

        .filter-form-details {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            margin-bottom: 1rem;
        }
    }

    .search-form {
        display: flex;
        flex-direction: column;

        .search-form-details {
            display: flex;
            gap: .5rem;

            input {
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) {
    .search-section {
        .search-form, .filter-form {
            padding: 0 1.5rem 0 1.5rem;
            margin-top: 1rem;
        }

        .filter-form {
            flex-direction: column;

            .filter-form-details {
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }

            button {
                width: 195px;
            }
        }

        .search-form {
            flex-direction: column;
    
            .search-form-details {
                display: flex;
    
                input {
                    width: auto;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .search-section {
        .search-form, .filter-form {
            padding: 0 2rem 0 2rem;
        }
    }
}