.sanity-section {
    padding: 0;
}

.sanity-users {
    display: flex;
    gap: 2rem;
}

.sanity-user-card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    grid-column: span 1;
    border-radius: 5px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    
    img{
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }

    ul, h3 {
        padding-left: 1rem;
    }

    li {
        text-decoration: underline;
    }

    h2 {
        text-align: center;
    }
    
}
.sanity-events{
    display: flex;
    gap: 1rem;

    .sanity-event-card{
        padding: 0.5rem;
        border-radius: 5px;
        grid-column: span 1;
        background-color: var(--white);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            
        h2{
            text-align: center;
        }
    }
}

@media (min-width: 768px) {
    .sanity-users, .sanity-events {
        .sanity-user-card, .sanity-event-card {
            grid-column: span 6;
        }
    }
}

@media (min-width: 1024px) {
    .sanity-users, .sanity-events {
        .sanity-user-card, .sanity-event-card {
            grid-column: span 3;
        }
    }
}