.event-card {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
        .event-card-link {
            img {
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
                transform: translateY(-2px);
            }
        }
    }

    // Interaktive kort
    .event-card-link {
        display: flex;
        flex-direction: column;
        height: 100%;

        img {
            border-radius: 5px;
            max-width: 100%;
            height: 235px;
            object-fit: cover;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.2s ease, transform 0.2s ease;;
        }

        h3, p {
            padding-left: .5rem;
        }

        p {
            color: var(--gray);
            padding-top: 1rem;
        }
    }

    // Standard kort (generelt)
    .event-card-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: var(--off-white);

        img {
            border-radius: 5px 5px 0 0;
            max-width: 100%;
            height: 235px;
            object-fit: cover;
            transition: box-shadow 0.3s ease;
        }

        .event-card-details {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            flex-grow: 1;

            h3 {
                padding-bottom: 1rem;
            }

            p {
                color: var(--gray);
            }

            .event-card-info {
                display: flex;
                flex-direction: column;
                color: var(--black);
            }
        }

        .event-card-buttons {
            display: flex;
            flex-direction: row;
            margin-top: auto;
            padding-top: 2rem;

            .event-button-cart {
                width: 100%;
            }
        }
        
        .event-button-favorite {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .75rem 1rem .75rem 1rem;
            
            .favorite-icon {
                font-size: 1.75rem;
                font-weight: 450;
            }
        }
    }
}

@media (min-width: 768px) {
    .event-card {
        grid-column: span 6;

        .event-card-link {
            img {
                height: 240px;
            }
        }

        .event-card-container {
            img {
                height: 240px;
            }

            .event-card-buttons {
                .event-button-favorite {
                    width: auto;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .event-card {
        .event-card-link {
            img {
                height: 310px;
            }
        }

        .event-card-container {
            img {
                height: 310px;
            }

            .event-card-buttons {
                justify-content: space-between;

                .event-button-cart {
                    width: auto;
                }
            }
        }
    }
}