/*

Dette er et globalt stilark og fungerer som en standard på nettsiden.

Vi benytter dette som en mal som kan overskrives ved behov. Dette gjelder:
    generelle HTML-elementer,
    marginer,
    padding,
    størrelsesforhold,
    og farger

Overskrivelser skal gjøres i komponentets egne stilark.

Fonter som skal brukes er:
    Inter (sans serif) - innhold
    Roboto (sans serif) - overskrifter og titler

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
    --white: #fff;
    --off-white: #f9f9f9;
    --off-white-2: #eeeeee;
    --gray: #777;
    --light-gray: #e3e3e3;
    --gray-border: #d5d5d5;
    --black: #1a1a1a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 1rem 1rem 2rem 1rem;
}

button {
    font-family: inherit;
    padding: 1rem;
    background-color: var(--off-white);
    border: 2px solid var(--black);
    border-radius: 3px;
    cursor: pointer;
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s ease;

    &:hover {
        background-color: var(--black);
        color: var(--white);
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    section {
        padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    section {
        padding: 1.5rem 2rem 3rem 2rem;
    }
}