.hero-section {
    background-color: var(--off-white-2);
    height: 300px;
    padding: 0;
}

.featured-events-section, .city-events-section {
    padding: 0;
}

.city-events-section {
    border-top: solid 1px var(--light-gray);
    gap: 2rem;

    h2 {
        margin-top: 2rem;
    }
}

@media (min-width: 768px) {
    .hero-section {
        height: 400px;
    }

    .city-events-section {
        gap: 1.5rem;

        h2 {
            margin-top: 2.5rem;
        }
    }
}

@media (min-width: 1024px) {
    .hero-section {
        height: 500px;
    }

    .city-events-section {
        gap: 2rem;

        h2 {
            margin-top: 3rem;
        }
    }
}