.hero-section {
    background-color: var(--off-white-2);
    height: 300px;
    padding: 0;
}

.city-events-section {
    border-top: solid 1px var(--light-gray);
}

@media (min-width: 768px) {
    .hero-section {
        height: 400px;
    }
}

@media (min-width: 1024px) {
    .hero-section {
        height: 500px;
    }
}