.hero-section {
    background-color: var(--off-white-2);
    height: 300px;
    padding: 0;
}

.featured-events-section, .events-section {
    padding: 0;
}

.events-section {
    border-top: solid 1.5px var(--light-gray);
    gap: 2rem;
    background-color: var(--off-white-2);
}

@media (min-width: 768px) {
    .hero-section {
        height: 400px;
    }

    .events-section {
        gap: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .hero-section {
        height: 500px;
    }

    .events-section {
        gap: 2rem;
    }
}