header {
    position: sticky;
    top: 0;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.03);
}

@media (min-width: 1024px) {
    header {
        padding: 0 5rem;
    }
}