nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    ul {
        display: none;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            height: 100%;
        }
    }

    .nav-link {
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: var(--black);
        font-weight: 500;
        letter-spacing: 0.5px;
        align-items: center;
        padding: 0 25px;
        height: 100%;
        transition: 0.3s;

        &:hover {
            background-color: var(--off-white-2);
        }
    }

    .nav-link-button {
        background-color: var(--white);
        color: var(--black);
        padding: 4px 10px;
        height: auto;
        border: solid 2px var(--black);
        border-radius: 5px;
        transition: 0.3s;

        &:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }

    #logo {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: var(--black);
        font-weight: bold;
        letter-spacing: -1px;
    }
}

@media (min-width: 1024px) {
    nav {
        height: 100px;

        ul {
            display: flex;
        }

        .nav-link-button {
            padding: 8px 18px;
        }

        #logo {
            font-size: 40px;
        }
    }
}