.sanity-event-details-section {
    gap: 1rem;

    img {
        grid-column: span 1;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    article {
        grid-column: span 1 / -1;

        h1 {
            padding: 0;
        }
    }
}

@media (min-width: 768px) {
    .sanity-event-details-section {
        img {
            grid-column: 1 / 7;
        }

        article {
            grid-column: 7 / -1;
        }
        
    }
}