.sanity-event-details-section {
    gap: 1rem;

    img {
        grid-column: span 1;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    article {
        grid-column: span 1 / -1;

        h1 {
            padding: 0;
        }
    }
}

.sanity-user-details-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;


}

.sanity-user-details {
    img{
        max-width: 300px;
        margin: 0;
        border: 1px transparent;
        border-radius: 3%;
    }
    
    h2{
        text-align: center;
        background-color: var(--white);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        margin: 0;
    }
}

@media (min-width: 768px) {
    .sanity-event-details-section {
        img {
            grid-column: 1 / 7;
        }

        article {
            grid-column: 7 / -1;
        }
        
    }
}